<h1>Game Over</h1>

<p>You answered <%= @quiz.cards_correct %> out of <%= @quiz.cards_answered %> cards correctly!</p>

<p><%= link_to 'Go Home', :action => 'index' %></p>

<% if @last_front %>
<div id="last-answer">
<p>Last Card: 
<div style="font-size:<%=@last_size %>"><%= @last_front %></div></p>
<p>Correct Answer: <%= @last_back %></p>
</div>
<% end %>
