<div class="card" id="cardfront" style="font-size:<%=@frontsize %>"><%=h @card.front %></div>
<div class="card" id="cardback" style="font-size:<%= @backsize %>"></div>

<span id="reveal-button"><%= button_to_function 'Reveal Answer', "reveal_back('#{h(@card.back)}')" %></span>
<%= button_to 'Next' %>

<% unless @card.card_sound.nil? %>
<span id="sound"><%= button_to_function 'Play Sound', "play_sound(#{@card.card_sound.id})" %></span>
<% end %>
