<div class="outer-card"><div class="card" id="cardfront" style="font-size:<%=@frontsize %>"><%=h @card.front %></div></div>
<div class="outer-card"><div class="card" id="cardback" style="font-size:<%= @backsize %>"></div></div>

<span id="reveal-button"><%= button_to_function 'Reveal Answer', "reveal_back('#{h(@card.back)}')" %></span>
<%= button_to 'Next' %>

<span id="sound"><%= button_to_function 'Play Sound', "play_sound()" %></span>

<!-- <embed src="/sounds/door_open_close.mp3" type="application/x-mplayer2" autostart="true"> -->
