<h1>Editing card</h1>

<% form_for(@card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :front %><br />
    <%= f.text_field :front %>
  </p>
  <p>
    <%= f.label :back %><br />
    <%= f.text_field :back %>
  </p>
  <p>
    <%= f.label :deck_id %><br />
    <%= f.text_field :deck_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>
