<div class="edit-card">
  <% fields_for "deck[card_attributes][]", card do |f| %>
    <p>
	Card: 
        <%= f.text_field :front, :size => 20, :index => nil %>
        <%= f.text_field :back, :size => 20, :index => nil %>

	<% fields_for card.card_sound, card.card_sound do |s| %>
          <%= s.file_field :file, :index => nil %>
	<% end %>

	<% if card.new_record? %>
  	  <%= link_to_function "remove", "$(this).up('.edit-card').remove()" %>
	<% else %>
	  <%= link_to_function "remove", "mark_for_destroy(this)" %>
	  <%= f.hidden_field :id, :index => nil %>
	  <%= f.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
	<% end %>
    </p>
  <% end %>
</div>
