<%= error_messages_for :deck %>
<p>
  Name: <%= f.text_field :name %>
</p>
<p>
  user_id: <%= f.text_field :user_id %>
</p>

<div id="cards">
  <%= render :partial => 'card', :collection => @deck.cards %>
</div>
<%= add_card_link "Add a Card" %>
