<h1>Editing deck</h1>

<%= render :partial => 'errors' %>

<% form_for(@deck) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <p><%= f.submit "Update" %></p>
<% end %>

<%= link_to 'Show', deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
