<h1>My Decks</h1>

<table>
<% for deck in @decks %>
<tr>
  <td><%= h(deck.name) %></td>
  <td><%= link_to 'Quiz', :controller => :quiz, :id => deck.id, :action => :quiz %></td>
  <td><%= link_to 'View', deck_path(deck) %></td>
  <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
  <td><%= link_to 'Destroy', deck, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>

<p><%= link_to 'Create New Deck', new_deck_path %><p>
