<h1>New deck</h1>

<% form_for(@deck) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <% for card in @deck.cards %>
    <% fields_for "deck[card_attributes][]", card do |card_form| %>
      <p>Card: <%= card_form.text_field :front, :size => 20 %>
	       <%= card_form.text_field :back, :size => 20 %>
    <% end %>
  <% end %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', decks_path %>
