<p>
  <b>Name:</b>
  <%=h @deck.name %>
</p>
<p><b>Owner:</b> <%=h @owner %></p>
<% for card in @deck.cards %>
  <p><%= card.front %> | <%= card.back %></p>
<% end %>

<%= link_to 'Edit', edit_user_deck_path(@user, @deck) %> |
<%= link_to 'Back', user_decks_path %>
