<p>
  <b>Name:</b>
  <%=h @deck.name %>
</p>
<p><b>Category:</b> <%= h @deck.category %></p>
<p><b>Owner:</b> <%=h @deck.user.username %></p>
<p><b>Sharing:</b> <%= @deck.share %></p>
<% for card in @deck.cards %>
  <p><%=h card.front %> | <%=h card.back %></p>
<% end %>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
